@model RoleManagementViewModel

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Manage User Role</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row">
            <div class="border p-3 mt-4">
                <input asp-for="UserId" hidden />

                <div asp-validation-summary="ModelOnly"></div>

                <div class="form-floating mb-3 col-md-6">
                    <input asp-for="Name" class="form-control border-0 shadow" readonly />
                    <label asp-for="Name" class="ms-2"></label>
                </div>
                <div class="form-floating mb-3 col-md-6">
                    <select id="role" asp-for="RoleId" asp-items="@Model.RoleList" class="form-select">
                        <option disabled selected>--Select Role--</option>
                    </select>
                </div>
                <div class="form-floating mb-3 col-md-6">
                    <select id="company" asp-for="CompanyId" style="display: none;" asp-items="@Model.CompanyList" class="form-select">
                        <option disabled selected>--Select Company--</option>
                    </select>
                </div>
                <div class="row mt-3">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary form-control">Update</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="User" asp-action="Index" class="btn btn-outline-primary form-control">
                            Back to List
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
            <partial name="_ValidationScriptsPartial" />
    }

    <script>
        $(document).ready(function () {
            toggleCompanyDDl();

            $('#role').change(function () {
                toggleCompanyDDl();
            });
        });

        function toggleCompanyDDl() { 
            let selection = $('#role Option:Selected').text();

            if (selection.toLowerCase() == 'company') {
                $('#company').show();
            }
            else {
                $('#company').hide();
            }
        }
    </script>
}